@import url(styles/header.css);
@import url(styles/frame1.css);
@import url(styles/frame2.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-mare: #002F52;
    --preto: #000000;
    --fonte-primaria: 'Poppins';
    --fonte-secundario: 'Josefin sans';
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
}